<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'susana'">La persona es susana</p>
  <p *ngSwitchCase="'carlos'">La persona es carlos</p>
  <p *ngSwitchCase="'marta'">La persona es marta</p>
  <p *ngSwitchDefault>No hay Match</p>
</div>

<hr />

<h1>*ngFor Objects</h1>
<div>
  <div *ngFor="let product of productos">
    <img [src]="product.img" alt="" width="50" height="50" />
    <h3>{{ product.nombre }}</h3>
    <p>{{ product.price }}</p>
  </div>
</div>
<hr />

<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay Nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i }} - {{ name }}
    <button (click)="deleteName(i)">delete</button>
  </li>
</ul>
<hr />
<h1>*ngIf</h1>
<input type="number" max="18" min="10" required [(ngModel)]="person.age" />
<p *ngIf="person.age == 15">Contenido tiene 15</p>
<p *ngIf="person.age == 12; else elseBlock">Contenido tiene 12</p>
<ng-template #elseBlock>
  <p>Bloque else</p>
</ng-template>

<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input
  type="text"
  required="true"
  #nameInput="ngModel"
  [(ngModel)]="person.name"
/>
<p>Valid {{ nameInput.valid }}</p>
<br />
<p>Age: {{ person.name }}</p>
<input
  type="number"
  max="18"
  min="10"
  required
  #ageInput="ngModel"
  [(ngModel)]="person.age"
/>
<p>Valid: {{ ageInput.valid }}</p>

<hr />
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="ageIncrease()">Toggle Button</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae dolorum
    odio omnis harum aut optio blanditiis! Necessitatibus quod commodi ab in
    voluptatem, labore tenetur mollitia officiis soluta odit possimus! Impedit?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae dolorum
    odio omnis harum aut optio blanditiis! Necessitatibus quod commodi ab in
    voluptatem, labore tenetur mollitia officiis soluta odit possimus! Impedit?
  </p>
</div>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<h5>{{ person.name }}</h5>

<hr />

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />

<progress max="100" [value]="person.age"></progress>
<img [src]="person.img" width="100" alt="" />
<hr />
<h1>Hola mundo</h1>
<h2>{{ "hola mundo interpo" }}</h2>

<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }}</h3>
<img [src]="img" alt="" />
